<a href="https://colab.research.google.com/github/Noahkandie/Week-3-MTN-Telcom-IP/blob/main/Moringa_Data_Science_Prep_W3_Independent_Project_2019_07_Noah_Kandie_DataReport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Import pandas and numpy
import pandas as pd
import numpy as np

In [2]:
# Loading the datasets
cdr=pd.read_excel('/content/CDR_description.xlsx',index_col=0)
cdr

                                                       Description   Format
Column name
PRODUCT                                               Voice or SMS   String
VALUE                                                Billing price  Integer
DATE_TIME                     Time in format yyyy-MM-dd hh:mm:ss.0   String
CELL_ON_SITE     Which cell in the site was used (not needed here)  Integer
DW_A_NUMBER_INT  Anonymized phone number of the person for whic...   String
DW_B_NUMBER_INT        Anonymized phone number of the counterparty   String
COUNTRY_A                        Country of party A (useless here)   String
COUNTRY_B                        Country of party B (useless here)   String
CELL_ID                                             ID of the cell   String
SITE_ID                                             ID of the SITE   String

In [3]:

cells_geo_d=pd.read_excel('cells_geo_description.xlsx')
cells_geo_d

     Column name                                        Description  Format
0         VILLES                                               City  String
1         STATUS                                  In Service or not  String
2   LOCALISATION                                  in ABIDJAN or not  String
3     DECOUPZONE                                  Geographical Zone  String
4       ZONENAME                                       Name of Zone  String
5      LONGITUDE                                          Longitude   Float
6       LATITUDE                                           Latitude   Float
7         REGION                                             Region  String
8           AREA                                               Area  String
9        CELL_ID                                     ID of the cell  String
10     SITE_CODE  Site (there are several cells per site, severa...  String

In [4]:
tel_1=pd.read_csv('/content/Telcom_dataset.csv')
tel_1.head()

  PRODUTC  VALUE               DATETIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [5]:
tel_2=pd.read_csv('/content/Telcom_dataset2.csv')
tel_2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [6]:
tel_3=pd.read_csv('/content/Telcom_dataset3.csv')
tel_3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B      CELLID     SIET_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [7]:
cells_geo=pd.read_csv('/content/cells_geo.csv',sep=';')
cells_geo.head()

   Unnamed: 0   VILLES      STATUS  ... AREA     CELL_ID   SITE_CODE
0           0   ADJAME  In Service  ...  NaN  fbb2e75af3  0bb492ef17
1           1   ADJAME  In Service  ...  NaN  1502501d78  0bb492ef17
2           2   ADJAME  In Service  ...  NaN  0c2e182a0c  0bb492ef17
3           3  ASSINIE  In Service  ...  NaN  69bdfc69fd  8a1e6ce31f
4           4  ASSINIE  In Service  ...  NaN  7a1029d2ab  8a1e6ce31f

[5 rows x 12 columns]

In [8]:
# Checking data shapes
tel_1.info()
#change column names produtc to product,Datetime -Date_time etc.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUTC          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATETIME         5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELL_ID          5001 non-null   object
 9   SITE_ID          4285 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [9]:
tel_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PRODUCT       5001 non-null   object
 1   VALUE         5001 non-null   int64
 2   DATE_TIME     5001 non-null   object
 3   CELL_ON_SITE  5001 non-null   object
 4   DW_A_NUMBER   5001 non-null   object
 5   DW_B_NUMBER   5001 non-null   object
 6   COUNTRY_A     5001 non-null   object
 7   COUNTRY_B     5001 non-null   object
 8   CELL_ID       5001 non-null   object
 9   SITE_ID       4325 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [10]:
tel_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5001 entries, 0 to 5000
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PRODUCT          5001 non-null   object
 1   VALUE            5001 non-null   int64
 2   DATE_TIME        5001 non-null   object
 3   CELL_ON_SITE     5001 non-null   object
 4   DW_A_NUMBER_INT  5001 non-null   object
 5   DW_B_NUMBER_INT  5001 non-null   object
 6   COUNTRY_A        5001 non-null   object
 7   COUNTRY_B        5001 non-null   object
 8   CELLID           5001 non-null   object
 9   SIET_ID          4396 non-null   object
dtypes: int64(1), object(9)
memory usage: 390.8+ KB

In [11]:
cells_geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3974 entries, 0 to 3973
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    3974 non-null   int64
 1   VILLES        3974 non-null   object
 2   STATUS        3907 non-null   object
 3   LOCALISATION  3974 non-null   object
 4   DECOUPZONE    3974 non-null   object
 5   ZONENAME      3968 non-null   object
 6   LONGITUDE     3974 non-null   float64
 7   LATITUDE      3974 non-null   float64
 8   REGION        3974 non-null   object
 9   AREA          3951 non-null   object
 10  CELL_ID       3974 non-null   object
 11  SITE_CODE     3974 non-null   object
dtypes: float64(2), int64(1), object(9)
memory usage: 372.7+ KB

In [12]:
# clean data
# Change column names(uniform in different data sets)
tel_1.rename(columns={'PRODUTC':'PRODUCT','DATETIME':'DATE_TIME'},inplace=True)
tel_1.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice      0  2012-05-06 23:04:37.0  ...     19e2e  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  2012-05-06 23:05:25.0  ...     19e2e  /+cKZKIp41  /+cKZKIp41
2     sms     25  2012-05-06 23:05:41.0  ...     19e2e  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  2012-05-06 23:05:42.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  2012-05-06 23:06:29.0  ...     19e2e  051KhYDCpv  051KhYDCpv

[5 rows x 10 columns]

In [13]:
tel_2.rename(columns={'DW_A_NUMBER':'DW_A_NUMBER_INT','DW_B_NUMBER':'DW_B_NUMBER_INT'},inplace=True)
tel_2.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0     sms      0  2012-05-07 23:02:06.0  ...     19e2e  +854AcBQT2  +854AcBQT2
1   Voice      0  2012-05-07 23:03:44.0  ...     19e2e  +854AcBQT2  +854AcBQT2
2     sms      0  2012-05-07 23:04:06.0  ...     19e2e  +laSrk7g6q  +laSrk7g6q
3   Voice     37  2012-05-07 23:04:48.0  ...     19e2e  /xvRrCVKoQ  /xvRrCVKoQ
4     sms     25  2012-05-07 23:04:58.0  ...     19e2e  +bO+qkSonO  +bO+qkSonO

[5 rows x 10 columns]

In [14]:
tel_3.rename(columns={'CELLID':'CELL_ID','SIET_ID':'SITE_ID'},inplace=True)
tel_3.head()

  PRODUCT  VALUE              DATE_TIME  ... COUNTRY_B     CELL_ID     SITE_ID
0   Voice     61  2012-05-08 23:01:28.0  ...     19e2e  +38u2u/rfx  +38u2u/rfx
1     sms      0  2012-05-08 23:01:31.0  ...     19e2e  +Fs4mTvdKx  +Fs4mTvdKx
2   Voice     10  2012-05-08 23:02:59.0  ...     19e2e  +ZaaZozy/+  +ZaaZozy/+
3     sms      0  2012-05-08 23:03:04.0  ...     19e2e  +cNeJzsTp3  +cNeJzsTp3
4   Voice     22  2012-05-08 23:03:16.0  ...     19e2e  /eeMklgyJA  /eeMklgyJA

[5 rows x 10 columns]

In [15]:
# Delete unneeded columns 

cells_geo.drop(columns='Unnamed: 0',inplace=True)
cells_geo.tail()

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[5 rows x 11 columns]

In [16]:
tel_1.drop(columns=['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'],inplace=True)
tel_2.drop(columns=['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'],inplace=True)
tel_3.drop(columns=['CELL_ON_SITE','COUNTRY_A','COUNTRY_B'],inplace=True)

In [17]:
# Delete duplicates in the dataframes
cells_geo.drop_duplicates(inplace=True)
cells_geo.tail()

        VILLES      STATUS LOCALISATION  ...          AREA     CELL_ID   SITE_CODE
3969  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  1cfc2d7ab1  f91ed8d2e9
3970  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  3ae1708153  f91ed8d2e9
3971  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  cb71f8a29c  61bee9c70c
3972  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  d4a6a0b645  61bee9c70c
3973  ZUENOULA  In Service    INTERIEUR  ...  CENTRE NORTH  f9f3e42589  61bee9c70c

[5 rows x 11 columns]

In [18]:
tel_1.drop_duplicates(inplace=True)
tel_2.drop_duplicates(inplace=True)
tel_3.drop_duplicates(inplace=True)

In [19]:
# Missing values
tel_1.isnull().value_counts()

PRODUCT  VALUE  DATE_TIME  DW_A_NUMBER_INT  DW_B_NUMBER_INT  CELL_ID  SITE_ID
False    False  False      False            False            False    False      4215
                                                                      True        704
dtype: int64

In [20]:
tel_2.isnull().value_counts()

PRODUCT  VALUE  DATE_TIME  DW_A_NUMBER_INT  DW_B_NUMBER_INT  CELL_ID  SITE_ID
False    False  False      False            False            False    False      4263
                                                                      True        660
dtype: int64

In [21]:
tel_3.isnull().value_counts()

PRODUCT  VALUE  DATE_TIME  DW_A_NUMBER_INT  DW_B_NUMBER_INT  CELL_ID  SITE_ID
False    False  False      False            False            False    False      4311
                                                                      True        597
dtype: int64

In [22]:
cells_geo.isnull().value_counts()

VILLES  STATUS  LOCALISATION  DECOUPZONE  ZONENAME  LONGITUDE  LATITUDE  REGION  AREA   CELL_ID  SITE_CODE
False   False   False         False       False     False      False     False   False  False    False        3863
        True    False         False       False     False      False     False   False  False    False          39
        False   False         False       False     False      False     False   True   False    False          21
                                          True      False      False     False   False  False    False           6
        True    False         False       False     False      False     False   True   False    False           2
dtype: int64

In [23]:
 tel_1=tel_1.dropna()
 tel_2=tel_2.dropna()
 tel_3=tel_3.dropna()
 cells_geo=cells_geo.dropna()

In [24]:
# Merge the dataframes
tel_a=pd.concat([tel_1,tel_2,tel_3],ignore_index=True,axis=0)
tel_a.head()

  PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0   Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1     sms      0  ...  /+cKZKIp41  /+cKZKIp41
2     sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3   Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4   Voice     14  ...  051KhYDCpv  051KhYDCpv

[5 rows x 7 columns]

In [25]:
tel_a.info

<bound method DataFrame.info of       PRODUCT  VALUE  ...     CELL_ID     SITE_ID
0       Voice      0  ...  /TJNe+Mmtu  /TJNe+Mmtu
1         sms      0  ...  /+cKZKIp41  /+cKZKIp41
2         sms     25  ...  /u0FSD+ahi  /u0FSD+ahi
3       Voice     56  ...  +cNeJzsTp3  +cNeJzsTp3
4       Voice     14  ...  051KhYDCpv  051KhYDCpv
...       ...    ...  ...         ...         ...
12784   Voice     10  ...  6467daa1db  8a96bae9c1
12785   Voice      0  ...  2aa04dcab7  f7d63a29e5
12786   Voice     62  ...  7f1f2f889f  b4ddb9e93c
12787   Voice     30  ...  98ed726da2  b4130b54ab
12788   Voice     60  ...  1c11a2fcbb  6d70dae094

[12789 rows x 7 columns]>

In [26]:
#join all dataframes
tel_geo=cells_geo.merge(tel_a,how='inner', left_on=['SITE_CODE'], right_on=['SITE_ID'])
tel_geo.head()

  VILLES      STATUS LOCALISATION  ...  DW_B_NUMBER_INT   CELL_ID_y     SITE_ID
0  ABOBO  In Service      ABIDJAN  ...  0707dfa952e0fcb  e12d87c801  0f34c36ac5
1  ABOBO  In Service      ABIDJAN  ...  0707dfa952e0fcb  e12d87c801  0f34c36ac5
2  ABOBO  In Service      ABIDJAN  ...  93343ba6e41af95  e12d87c801  0f34c36ac5
3  ABOBO  In Service      ABIDJAN  ...  0707dfa952e0fcb  e12d87c801  0f34c36ac5
4  ABOBO  In Service      ABIDJAN  ...  831f75896bac1dc  10ae6c0752  0f34c36ac5

[5 rows x 18 columns]

In [27]:
tel_geo['DATE_TIME']=pd.to_datetime(tel_geo['DATE_TIME'])
tel_geo.isnull()

       VILLES  STATUS  LOCALISATION  ...  DW_B_NUMBER_INT  CELL_ID_y  SITE_ID
0       False   False         False  ...            False      False    False
1       False   False         False  ...            False      False    False
2       False   False         False  ...            False      False    False
3       False   False         False  ...            False      False    False
4       False   False         False  ...            False      False    False
...       ...     ...           ...  ...              ...        ...      ...
48782   False   False         False  ...            False      False    False
48783   False   False         False  ...            False      False    False
48784   False   False         False  ...            False      False    False
48785   False   False         False  ...            False      False    False
48786   False   False         False  ...            False      False    False

[48787 rows x 18 columns]

In [28]:
import datetime
tel_geo['DATE']=[d.date()for d in tel_geo['DATE_TIME']] 
tel_geo['TIME']=[d.time()for d in tel_geo['DATE_TIME']] 
tel_geo.head()

  VILLES      STATUS LOCALISATION  ...     SITE_ID        DATE      TIME
0  ABOBO  In Service      ABIDJAN  ...  0f34c36ac5  2012-05-07  00:00:16
1  ABOBO  In Service      ABIDJAN  ...  0f34c36ac5  2012-05-07  00:00:20
2  ABOBO  In Service      ABIDJAN  ...  0f34c36ac5  2012-05-07  00:00:20
3  ABOBO  In Service      ABIDJAN  ...  0f34c36ac5  2012-05-07  00:00:22
4  ABOBO  In Service      ABIDJAN  ...  0f34c36ac5  2012-05-07  00:00:37

[5 rows x 20 columns]

In [29]:
tel_geo.tail()

         VILLES      STATUS LOCALISATION  ...     SITE_ID        DATE      TIME
48782  ZUENOULA  In Service    INTERIEUR  ...  61bee9c70c  2012-05-08  00:01:21
48783  ZUENOULA  In Service    INTERIEUR  ...  61bee9c70c  2012-05-09  00:00:12
48784  ZUENOULA  In Service    INTERIEUR  ...  61bee9c70c  2012-05-09  00:00:24
48785  ZUENOULA  In Service    INTERIEUR  ...  61bee9c70c  2012-05-09  00:01:00
48786  ZUENOULA  In Service    INTERIEUR  ...  61bee9c70c  2012-05-09  00:01:37

[5 rows x 20 columns]

In [30]:
tel_geo['VILLES'].value_counts()

YOPOUGON       8258
ABOBO          5934
COCODY         3704
ADJAME         2387
KOUMASSI       2275
               ...
BAMORO            3
PONANGUIGLO       3
DIEOUZON          3
KOTOULA           2
DANANON           2
Name: VILLES, Length: 398, dtype: int64

Data EXploration

In [31]:
#Frequency per product.
tel_geo['PRODUCT'].value_counts()

sms      28131
Voice    20656
Name: PRODUCT, dtype: int64

In [32]:
# Frequency of traffic per zone
tel_geo['ZONENAME'].value_counts()

ZONE C - Abidjan_OUEST     10121
ZONE E - Abidjan_NORD       6626
ZONE B - Grand-SUD          5411
ZONE B - Abidjan_EST        4760
ZONE D - Abidjan_SUD        4602
ZONE D - Grand-OUEST        4233
ZONE A - Abidjan_CENTRE     4121
ZONE A - Grand-NORD         3843
ZONE E - SUD-OUEST          2993
ZONE C - Grand-EST          1745
ZONE D - Abidjan_EST         186
ZONE C - Abidjan_EST          27
ZONE A - Abidjan_OUEST        21
ZONE A - Grand-SUD            18
ZONE B - Abidjan_OUEST        18
ZONE B - Grand-EST            18
ZONE C - Abidjan_SUD          15
ZONE B - Abidjan_SUD           6
ZONE D - Grand-SUD             6
ZONE A - Grand-EST             6
ZONE B - Grand-NORD            3
ZONE B - Abidjan_Nord          3
ZONE B - Abidjan-EST           3
ZONE B - Abidjan_CENTRE        2
Name: ZONENAME, dtype: int64

In [33]:
# The cities with most telcom traffic (>1000)
x=tel_geo['VILLES'].value_counts()
city1=x[x>1000]
city1

YOPOUGON        8258
ABOBO           5934
COCODY          3704
ADJAME          2387
KOUMASSI        2275
MARCORY         2087
YAMOUSSOUKRO    2076
TREICHVILLE     2026
DALOA           1747
ATTECOUBE       1623
PORT-BOUET      1383
SAN-PEDRO       1291
BOUAKE          1242
Name: VILLES, dtype: int64

In [34]:
# Amount of traffic per region
tel_geo['REGION'].value_counts()

LAGUNE               31953
LACS                  2408
BAS SASSANDRA         2327
HAUT SASSANDRA        2274
VALLEE DU BANDAMA     1551
SUD BANDAMA           1386
FROMAGER               904
SAVANE                 895
WORODOUGOU             792
18 MONTAGNES           687
MARAHOUE               618
AGNEBY                 579
NZI COMOE              563
MOYEN CAVALLY          528
DENGUELE               395
MOYEN COMOE            315
ZANZAN                 315
SUD COMOE              198
BAFING                  99
Name: REGION, dtype: int64

In [35]:
# Which date had most traffic
tel_geo['DATE'].value_counts()

2012-05-09    17540
2012-05-07    15726
2012-05-08    15521
Name: DATE, dtype: int64

In [36]:
# The frequency of traffic in Abidjan and Interior of the country
tel_geo['LOCALISATION'].value_counts()

ABIDJAN      30442
INTERIEUR    18345
Name: LOCALISATION, dtype: int64

In [37]:
# All the cellphones are in service
tel_geo['STATUS'].value_counts()

In Service    48787
Name: STATUS, dtype: int64

In [38]:
#Frequencyt per geographical zone
tel_geo['DECOUPZONE'].value_counts()

Abidjan_OUEST     10160
Abidjan_NORD       6629
Grand-SUD          5479
Abidjan_EST        4976
Abidjan_SUD        4623
Grand-OUEST        4233
Abidjan_CENTRE     4105
Grand-NORD         3846
SUD-OUEST          2993
Grand-EST          1725
Gd-ABIDJAN           18
Name: DECOUPZONE, dtype: int64

In [39]:
# The mean of the value of communication per product
tel_geo_2=tel_geo[['PRODUCT','VILLES','VALUE']]
tel_geo_2

      PRODUCT    VILLES  VALUE
0         sms     ABOBO      0
1         sms     ABOBO      0
2         sms     ABOBO      0
3         sms     ABOBO      0
4       Voice     ABOBO     14
...       ...       ...    ...
48782   Voice  ZUENOULA     90
48783   Voice  ZUENOULA      0
48784     sms  ZUENOULA      0
48785   Voice  ZUENOULA     34
48786     sms  ZUENOULA      0

[48787 rows x 3 columns]

In [40]:
#Profits per product
profits_pd = tel_geo_2.groupby(['PRODUCT'])['VALUE'].sum()
(profits_pd / profits_pd.sum())*100

PRODUCT
Voice    83.68787
sms      16.31213
Name: VALUE, dtype: float64

In [41]:
# profit per city
a=tel_geo_2.groupby(['VILLES'])['VALUE'].sum().sort_values(ascending=False).head(10)
a

VILLES
YOPOUGON        198556
COCODY          177745
ABOBO           119236
KOUMASSI         71356
TREICHVILLE      65557
MARCORY          59913
ADJAME           56577
YAMOUSSOUKRO     45090
SAN-PEDRO        44137
PORT-BOUET       34788
Name: VALUE, dtype: int64

In [42]:
table = pd.pivot_table(tel_geo_2, values='VALUE', index=['PRODUCT','VILLES'],aggfunc=np.sum)

In [43]:
table.groupby(
    level='PRODUCT', group_keys=False
).apply(pd.DataFrame.sort_values, by='VALUE', ascending=False)

                       VALUE
PRODUCT VILLES
Voice   COCODY        157920
        YOPOUGON      153003
        ABOBO          92357
        TREICHVILLE    58932
        KOUMASSI       55781
...                      ...
sms     MAYO               0
        BOTRO              0
        MARABADIASSA       0
        MANZANOUAN         0
        BOUADOUGOU         0

[599 rows x 1 columns]